@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
                margin: 0px;
                padding: 0px;              
                font-family: "Azeret Mono", monospace;
}
.header-first-content{
                height: 10vh;
                width: auto;
                display: flex;
                align-items: center;
                justify-content: space-around;

}
.header-second-content{
                height: 90vh;
                background-image: url(../B10A1-Challenge-Begins/assets/Hero-bg.png);
                text-align: center;
                align-content: flex-end;

}
.header-second-content h1{
                color: rgb(13, 19, 33);
                font-size: 42px;
                font-weight: 800;
                line-height: 48px;
                letter-spacing: 0%;
                text-align: center; 
                margin-top: 80px;
}
.btn-1{
                background-color: aliceblue;
                padding:8px 10px;
                border: 1px solid black;
                border-radius: 4px;

}
.header-second-content p{
                color: rgb(13, 19, 33);
                font-size: 12px;
                font-weight: 400;
                line-height: 26px;
                text-align: center;
                opacity: 0.6;
}
.second-btn{
                text-align: center;
                margin-top: 45px;
                
}
.btn-2{
             background-color: black; 
             color: white;  
             padding: 10px;
             border-radius: 4px;
             border: black;

}
/* first section style start */

.main{
                
                width: 1020px;
                margin:0 auto;

}
.first-section{
                    
                background: rgba(13, 19, 33, 0.02);
                border-radius: 4px;
                padding: 60px;
                
}
.first-section h1{

                
                color: rgb(13, 19, 33);     
                font-size: 32px;
                font-weight: 800;
                line-height: 37px;
                letter-spacing: 0%;
                text-align: center;
}
.first-section p{
                color:gray;
                font-size: 12px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0%;
                text-align: center; 
                margin-bottom: 78px;
}

.first-section-content{
                width: 770px;
                background-color: white;
                align-items: center;
                display: flex;
                justify-content: space-between;
                padding: 10px;
                margin: auto;
                border-radius: 4px;
                margin-bottom: 60px;
               
}
.content-one{
                display: flex;
                flex-direction: column;
                align-items:flex-start;
              
                
}
.content-one h1{
                color: rgba(13, 19, 33, 0.7);
                font-size: 18px;
                font-weight: 700;
                line-height: 36px;
                letter-spacing: 0%;
                text-align: left;
}
.content-one p{
                 color:gray;
                 font-size: 12px;
                 font-weight: 400;
                 line-height: 26px;
                 letter-spacing: 0%;
                 text-align: left;
                 margin-bottom: 10px;
}
.first-section-content-2{
                width: 770px;
                background-color: white;
                align-items: center;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                padding: 10px;
                margin: auto;
                border-radius: 4px;
                margin-bottom: 60px;
               
}

/* second section style */

.second-section{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
}
.second-section h1{
                color: rgb(13, 19, 33);
                font-size: 32px;
                font-weight: 800;
                line-height: 37px;
                letter-spacing: 0%;
                text-align: center;
}
.second-section p{

                color:gray;
                font-size: 12px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0%;
                text-align: center;
                margin-top: 20px;
}